<div>
  <h1>Variables input</h1>
  <h3>Mensaje del padre: {{ primerM }}</h3>
  <h3>segundo M del padre: {{ segundM }}</h3>
  <h3>primer obj del padre: {{ primerObj | json}}</h3>
  <h3>segundo obj del padre: {{ secObj | json}}</h3>
</div>