<app-hijo
[primerM] = parent1
[segundM] = parent2
[primerObj] = obj1
[secObj] = obj2

(EventoMensaje)="recibirMensaje($event)"
(Evento2)="recibirM2($event)"
(Eventojson1)="recibirJson($event)"
(Eventojson2)="recibirJson2($event)"
>
</app-hijo>

<div>
  <h1>Output</h1>
  <h3>Mensaje del hijo: {{ mensaje1 }} </h3>
  <h3>Mensaje del hijo: {{ mensaje2 }} </h3>
  
  <h3>json del hijo: {{ json1 | json }}</h3>
  <h3>json2 del hijo: {{ json2 | json }}</h3>
</div>